<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <p>{{ site.footer_content }}</p>
      <p class="footer-note">
        This site is not affiliated with Microsoft. AZ-900 is a trademark of Microsoft Corporation.
      </p>
    </div>
    <div class="footer-right">
      <a href="https://github.com/myorg/az-900-docs" class="footer-link">GitHub</a>
      <a href="{{ site.baseurl }}/glossary" class="footer-link">Glossary</a>
      <a href="https://learn.microsoft.com/en-us/certifications/azure-fundamentals/" class="footer-link" target="_blank">Official Exam</a>
    </div>
  </div>
</footer>
